header{
    margin-top: 16px;
    margin-bottom: 48px;    
}

header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

body{
    color: #333333;
    font-family: arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.animation{
    animation-name: fadein;
    animation-duration: 1s;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.main-content{
    flex-grow: 1;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}



.portrait{
    width: 250px;
}

input{
    border: 1px solid #cccccc;
    padding: 6px;
    background: #cccccc;
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #3d3d3d;
    color: white;
    padding: 6px;
    border-radius: 5%;
}

#message-1{
    font-family: arial;
    font-size: 20px;
}

#message-2{
    font-family: arial;
    font-size: 15px;
}